.return {
  color: white;
  text-decoration: none;
  padding-right: 30px;
  font-size: 14px;
  font-family: "Verdana", Geneva, sans-serif;
}

.titulo_main {
  padding: 110px 0 50px 0;
  text-align: center;
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 25px;
}

form {
  padding-top: 20px;
}

input[type="search"] {
  max-width: 50%;
}

a[class="btn btn-success"]{
  background-color: cornflowerblue;
}

a[class="btn btn-success"]:hover{
  background-color: rgb(64, 121, 227);
}

button[class="btn btn-outline-success my-2 my-sm-0"] {
  border-color: cornflowerblue;
  color: black;
}

button[class="btn btn-outline-success my-2 my-sm-0"]:hover {
  background-color: rgb(64, 121, 227);
}